<%= form_for @worker do |f| %>
	
  <h5>Name</h5>
  <div class="names-section">
  	<%= f.fields_for :names do |builder| %>
      <%= render "name_fields", :f => builder %>
    <% end %>
    <%#= add_name_fields("Add Name", f, :names) %> 
  </div>

  

  <h5>Address</h5>
  <div class="physical-addresses-section">
	<%= f.fields_for :physical_addresses do |builder| %>
  	<%= render "physical_address_fields", :f => builder %>
	<% end %>
  <%#= add_name_fields("Add Physical Address", f, :physical_addresses) %> 
  </div>
    
  <div class="phone-nummbers-section">
    <h5>Phone Number</h5>
  	<%= f.fields_for :phone_numbers do |builder| %>
    	<%= render "phone_number_fields", :f => builder %>
  	<% end %>
    <%#= add_name_fields("Add Phone Number", f, :phone_numbers) %>
  </div>

  <div class="email-addresses-section">
    <h5>Email Address</h5>
  	<%= f.fields_for :email_addresses do |builder| %>
    	<%= render "email_address_fields", :f => builder %>
  	<% end %>
    <%#= add_name_fields("Add Email Address", f, :email_addresses) %>
  </div>
	
   <div class="actions">
    <%= f.submit "Submit" %>
  </div>
	
<% end %>