<%= form_for @worker do |f| %>
	
  <h4>Name</h4>
  <div class="names-section">
  	<%= f.fields_for :names do |builder| %>
      <%= render "name_fields", :f => builder %>
    <% end %>
    <%#= add_name_fields("Add Name", f, :names) %> 
  </div>

  

  <h4>Address</h54
  <div class="physical-addresses-section">
	<%= f.fields_for :physical_addresses do |builder| %>
  	<%= render "physical_address_fields", :f => builder %>
	<% end %>
  <%#= add_name_fields("Add Physical Address", f, :physical_addresses) %> 
  </div>
    
  <div class="phone-nummbers-section">
    <h4>Phone Number</h4>
  	<%= f.fields_for :phone_numbers do |builder| %>
    	<%= render "phone_number_fields", :f => builder %>
  	<% end %>
    <%#= add_name_fields("Add Phone Number", f, :phone_numbers) %>
  </div>

  <div class="email-addresses-section">
    <h4>Email Address</h4>
  	<%= f.fields_for :email_addresses do |builder| %>
    	<%= render "email_address_fields", :f => builder %>
  	<% end %>
    <%#= add_name_fields("Add Email Address", f, :email_addresses) %>
  </div>
	
   <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
	
<% end %>