<div class="worker-name-fields">
	 <div class="field">
	      <%= f.label :first_name %>
	      <%= f.text_field :first_name %>
	  </div>

	  <div class="field">
	      <%= f.label :last_name %>
	      <%= f.text_field :last_name %>
	  </div>

	  <%= f.hidden_field :_destroy %> 
	  
	  <div class="remove-worker-fields" href="#">remove</div>
	
</div>
