<%= form_for [@company, @job_posting] do |f| %>
	
  <div class="field">
      <%= f.label :subject %>
      <%= f.text_field :subject %>
  </div>

  <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description %>
  </div>

 <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>