<!DOCTYPE html>
<html>
  <head>
    <title>JobSwipes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navigation" %>
  	<div class="alert alert-info"><%= notice %></div>
 	<div class="alert alert-warning"><%= alert %></div>
    <%= yield %>
  </body>
</html>
